<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="styles/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script>
    
  function scroll1() {
$('html, body').animate({
    scrollTop: $("#first").offset().top
}, 1000);}
function scroll2() {
$('html, body').animate({
    scrollTop: $("#second").offset().top
}, 1000);}
function scroll3() {
$('html, body').animate({
    scrollTop: $("#third").offset().top
}, 1000);}
function scroll4() {
$('html, body').animate({
    scrollTop: $("#fourth").offset().top
}, 1000);}
    
$(document.body).on('click', 'p', function () {
    $(this).parent().addClass('change');
});
  </script>

</head>
<body>

{{ content }}
  

</body>
</html>
