<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="styles/style.css">
  <script src="scripts/jquery.min.js"></script>
  <script src="scripts/jquery.scrollie.min_1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://f.vimeocdn.com/js/froogaloop2.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans|Oswald|Quattrocento+Sans|Raleway" rel="stylesheet">

</head>
<body>
<img id=logo src="images/logos/Finding Sanctuary Transparent White Text.png">
{{ content }}

//Autoscroll to box two after the video is over
<script>
$(function() {
  var iframe = $('#player1')[0];
  var player = $f(iframe);

  // When the player is ready, add listeners for pause, finish, and playProgress
  player.addEvent('ready', function() {        
      player.addEvent('finish', finishVideoOne);
  });

 function finishVideoOne(id) {
$('html, body').animate({
    scrollTop: $("#second").offset().top
}, 1000);}
});

</script>
  
</body>
</html>
