/* BASICS CSS */

/*.Row
{
    display: table;
    border: none;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 50%;
    margin-left: 25%;
    table-layout: fixed;
    border-spacing: 5px; 
    position: fixed;
    top: 0;
    float: left;
    z-index: 999;
} */

#logo {
  position: fixed;
  top: 40px;
  right: 40px;
  width: 180px;
}

progress {
  position: fixed;
  right: -260px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 300px;
  height: 15px;
  border-radius: 20px;
  -webkit-transform-origin: center left;
  -webkit-transform: rotate(-90deg) translateX(-100%) border-radius: 6px;
  transform-origin: center left;
  transform: rotate(-270deg) translateX(60%);
  margin-left: 2%;
  z-index: 9999; 
  display: none;
  }
  
  progress::-webkit-progress-bar {
    border: 0;
    border-radius: 6px;
  }
  
  progress::-webkit-progress-value {
    border: 0;
    border-radius: 6px;
  }
  
  progress::-moz-progress-bar {
    border: 0;
    border-radius: 6px;
  }

progress::-webkit-progress-bar {
  background: transparent;
  border: 1px double #FFFFFF;
  border-radius: 10px;
}
progress::-webkit-progress-value {
  background: linear-gradient(90deg, #99CC32, #99CC32);
}
progress::-ms-fill {
  background: linear-gradient(90deg, #000,#f00);
}
progress::-moz-progress-bar {
  background: linear-gradient(90deg, #000,#f00);
}


.Column
{
    display: table-cell;
    text-align: center;
}
#logo2 {
    position: fixed;
    z-index: 9999;
    right: 10px;
    top: 10px;
}
#logo2 img {   
    min-width: 150px;
    max-width: 250px;
    width: 40vmin;
}
.boxes {
  width: 100%;

}

/* BUTTONS CSS */

.Column a {
    background-color: transparent;
    border: none;
    color: blue;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.Column a:hover {
  background-color: #e7e7e7;
}

h1 {
  text-align: center;
  padding-top: 20px;
  margin: 0;
}

span {
  color: black;
}

/* BOXES STYLE CSS */

#first {
}
#second {
}
#third {
}
#fourth {
}

/* PROGRESS BAR CSS */

#Video-button {
  background: grey;
}

#Data-button {
  background: grey;
}

#Threesixty-button {
  background: grey;
}

#Video2-button {
  background: grey;
}

/* nerdeen css */
#map {
  width: 100%;
  height: 100%;
  position: fixed;
  top:0px;
  background-image: url('https://studio20-2017.github.io/sanctuary/images/nerdeengraphics/Historic Photo Background/Desktop/1917.jpg');
  background-size: cover;
  z-index: -100;
  background-position: center center;
  background-repeat: no-repeat;

  /* if the "background-image" changes, cross-fade it */
  -webkit-transition: background-image 1s;
  transition: background-image 1s;
}
/* just to have some stuff off to the side */
.map-trigger {
  height: 1px;
  width: 1px;
  margin: 0;
  padding: 0;
  opacity: 0;
  display: block;
}
txt div br { display: block; }

#map-trigger-1 {
    background-image: url("https://studio20-2017.github.io/sanctuary/images/nerdeengraphics/Historic Photo Background/Desktop/1917.jpg");
}

#map-trigger-2 {
    background-image: url("https://studio20-2017.github.io/sanctuary/images/nerdeengraphics/Historic Photo Background/Desktop/1946.jpg");
}

#map-trigger-3 {
    background-image: url("https://studio20-2017.github.io/sanctuary/images/nerdeengraphics/Historic Photo Background/Desktop/1947.jpg");
}

#map-trigger-4 {
    background-image: url("https://studio20-2017.github.io/sanctuary/images/nerdeengraphics/Historic Photo Background/Desktop/1948.jpg");
}

#map-trigger-5 {
    background-image: url("https://studio20-2017.github.io/sanctuary/images/nerdeengraphics/Historic Photo Background//Desktop/1967.jpg");
}
#map-trigger-6 {
    background-image: url("https://studio20-2017.github.io/sanctuary/images/nerdeengraphics/Historic Photo Background/Desktop/1994 - 2014.jpg");
}

#txt {
  max-width: 470px;  
}



/* mobile size */
@media only screen and (max-width: 479px) {



#map {
    width: 100vw;
    height: 100vw;
    
}

}
