/* BASICS CSS */

html, body { 
	margin: 0;
	width: 100%;
	height: 100%
} 

#logo2 {
  position: absolute;
  z-index: 9999;
  top: 5%;
  right: 2%;
  width: 180px;
}

.boxes {
  width: 100%; 
}

#first{
	height:100%
}

.video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.video iframe {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.video2 {
    width: 100%;
    height: 100%;
}

.video2 iframe {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

h1 {
font-family: Oswald;
font-size: 40px; 
font-weight: bold;
color: #450920;
text-transform: uppercase;
text-align: center
}

@media only screen and (max-width: 769px) and (min-width: 479px){
      h1{
font-size: 40px;  
}
}

@media screen and (max-width: 479px) and (min-width: 330px){
      h1{
font-size: 30px;
}
}

@media screen and (max-width: 330px){
      h1{
font-size: 25px;
}
}

h2 {
font-family: Oswald;
font-size: 24px;  
color: #8baaad;
letter-spacing: 1.1px;
}

@media only screen and (max-width: 769px) {
      h2{
font-size: 18px;  
}
}

h3 {
font-family: Quattrocento; 
font-size: 18p; 
font-weight: bold; 
color: #4d4847;
}

p {
font-family: Quattrocento; 
font-size: 25px; 
color: #000f08;
line-height: 150%;
text-align: justify;
}
	
@media only screen and (max-width: 769px) and (min-width: 479px){
      p { 
font-size: 40px; 
text-align: left;	      
}
}

@media screen and (max-width: 479px) {
      p{
font-size: 20px; 
text-align: left;	      
}
}

.quote {
font-family: Lato;
font-size: 11p; 
font-weight: bold; 
display: inline;
background-color: #8baaad; 
color: #F4FFF8;
}

.viztitle {
font-family: Oswald; 
font-weight: light; 
font-size: 32p;
color: #450920;
}

.source {
font-family: Quattrocento;
font-size: 16px;
}

a {
display: inline;
color:inherit;
text-decoration: none;
border-bottom: 1.5px solid #8baaad;
}

#second.rosatext, #second.jesustext, .berthatext{
width: 60%;
margin: auto;
}

#second.teddyheader{
width: 80%;
margin: auto;	
}

@media only screen and (max-width: 769px) and (min-width: 479px){
      #second.rosatext, #second.jesustext, .berthatext{
width: 80%;
margin: auto;
}
}

@media screen and (max-width: 479px) {
       #second.rosatext, #second.jesustext, .berthatext{
width: 80%;
margin: auto;
}
}

#footer{
     display: block;
     width: 100%;
     background-color: black;
     margin-bottom: 0;
}
     
#footertext{
     color: white;
     padding: 20px;
     text-align: right;
     font-size: 20px;
     font-weight: bold;
     font-family: Oswald;
     letter-spacing: 1.8px;
	margin:0;
}

#footertext a {
      color: white;
      text-decoration: none;
      border-bottom: none;
}

@media only screen and (max-width: 769px) and (min-width: 479px){
      #footertext a{
	color:white;
        padding: 40px;
        font-size: 40px; 
	padding-bottom:0;
	}
}

@media screen and (max-width: 479px) {
      #footertext a{
	color:white;
        padding: 40px;
        font-size: 20px; 
	padding-bottom:0;
	}
}


/* Audio Boxes */
.audioboxred {  
  background-color: #450920;
  width: 60%;
  padding-top: 10px;
  padding-bottom: 10px;
}


.audioboxwhite {  
  width: 60%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.play {
  padding-right: 10px;
  opacity: 1;
  transition-duration: .25s;
  transition-property: opacity;
  height: 100px;
  width: 100px; 
  padding-top: 30px;
}

.play:hover {
	opacity: .7;
}


.audioquotewhite {
  font-family: Oswald;
  font-size: 36px;
  font-weight: light;
  color: white;
  line-height: 50px;
  text-align: left;

}

  .audioquotered {
  font-family: Oswald;
  font-size: 36px;
  font-weight: light;
  color: #450920;
  line-height: 50px;
  text-align: left; 
  display: inline-block;
  width: 60%;
}

.audiotime {
	font-size: 20px;
}

 
}
@media screen and (max-width: 479px) {
  .audioquotered {
	font-size: 30px;
	line-height: normal;
}

	.audiotime {
	font-size: 18px;
}
	.play {
	 width: 50%;
	 height: 50%;
	 padding-bottom: 10px;
	}
	
}
/* Carousel */
#carousel {
	margin: auto;
	text-align: center;
}

/* Gallup Box */
#gallup {
	margin: auto;
	width: 100%;
	border: none;
	background-color: #8baaad;
	clear: both;
	padding-bottom: 10px;
}

.gallup2 {
	padding-left: 5%;
	padding-right: 5%;
}

.gallupnos {
	padding: 2%;
	margin: auto;
	width: 200px;
	line-height: 50%;
}
@media screen and (max-width: 769px) and (min-width: 0px){

td {
  padding:0 35px 0 35px;
}
}
