/* BASICS CSS */

html, body { 
	margin: 0;
	width: 100%;
	height: 100%
} 

#logo2 {
  position: absolute;
  z-index: 9999;
  top: 5%;
  right: 2%;
  width: 180px;
}

.boxes {
  width: 100%; 
}

#first{
	height:100%
}

.video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.video iframe {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.video2 {
    width: 100%;
    height: 100%;
}

.video2 iframe {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

h1 {
font-family: Oswald;
font-size: 50px; 
font-weight: bold;
color: #450920;
text-transform: uppercase;
text-align: center
}

@media only screen and (max-width: 764px) and (min-width: 479px)
      h1{
font-family: Oswald;
font-size: 40px; 
font-weight: bold;
color: #450920;
text-transform: uppercase;
text-align: center
}

@media screen and (max-width: 479px) {
      h1{
font-family: Oswald;
font-size: 25px; 
font-weight: bold;
color: #450920;
text-transform: uppercase;
text-align: center
}

h2 {
font-family: Oswald;
font-size: 24p;  
color: #8baaad;
}

h3 {
font-family: Quattrocento; 
font-size: 18p; 
font-weight: bold; 
color: #4d4847;
}

p {
font-family: Quattrocento; 
font-size: 20px; 
color: #000f08;
line-height: 150%;
text-align: justify;
}
	
@media only screen and (max-width: 764px) and (min-width: 479px)
      p{
font-family: Quattrocento; 
font-size: 20px; 
color: #000f08;
line-height: 150%;
text-align: justify;
}

@media screen and (max-width: 479px) {
      p{
font-family: Quattrocento; 
font-size: 20px; 
color: #000f08;
line-height: 150%;
text-align: justify;
}

.quote {
font-family: Lato;
font-size: 11p; 
font-weight: bold; 
display: inline;
background-color: #8baaad; 
color: #F4FFF8;
}

.viztitle {
font-family: Oswald; 
font-weight: light; 
font-size: 32p;
color: #450920;
}

.source {
font-family: Quattrocento;
font-size: 16px;
}

a {
display: inline;
color:inherit;
text-decoration: none;
border-bottom: 1.5px solid #8baaad;
}

#second.rosatext, #second.teddyheader, #second.jesustext{
width: 100%
margin: 0;
padding: 40px;
}

#second.teddyheader h2{
color: #450920;
}

#footer{
     display: block;
     width: 100%;
     background-color: black;
     margin-bottom: 0;
}
     
#footertext{
     color: white;
     padding: 20px;
     text-align: right;
     font-size: 20px;
     font-weight: bold;
     font-family: Oswald;
     letter-spacing: 1.8px;
	margin:0;
}

#footertext a {
      color: white;
      text-decoration: none;
      border-bottom: none;
}

@media only screen and (max-width: 764px) and (min-width: 479px)
      #footertext a{
	color:white;
        padding: 40px;
        font-size: 40px; 
	padding-bottom:0;
	}
}

@media screen and (max-width: 479px) {
      #footertext a{
	color:white;
        padding: 40px;
        font-size: 20px; 
	padding-bottom:0;
	}
}

.mobile {
	display: none;
}
@media screen and (max-width: 479px) {
	.desktop {
		display: none;
	}
	.mobile {
		display: initial;
	}
}


/* Audio Boxes */
.audioboxred {  
  background-color: #663333;
  width: 60%;
  padding-top: 10px;
}

.audioboxwhite {  
  width: 60%;
  padding-top: 10px;
}

.play {
  float: left;
  padding: 0px 5px 10px 20px;
  opacity: 1;
  transition-duration: .25s;
  transition-property: opacity;
}

.play:hover {
	opacity: .7;
}

.audioquotewhite {
  display: inline;
  font-family: Oswald;
  font-size: 36px;
  font-weight: light;
  color: white;
  line-height: 50px;
  padding-right: 15px;
}

.audioquotered {
  display: inline;
  font-family: Oswald;
  font-size: 36px;
  font-weight: light;
  color: #663333;
  line-height: 50px;
  padding-right: 15px;
}

/* Carousel */
#carousel {
	margin: auto;
	text-align: center;
}

/* Gallup Box */
#gallup {
	margin: auto;
	width: 75%;
	border: 2px solid #000f08;
	background-color: #8baaad;
	clear: both;
	overflow:auto;
}

.gallup2 {
	padding-left: 5%;
	padding-right: 5%;
}

.gallupnos {
	padding: 2%;
	margin: auto;
	width: 200px;
	line-height: 50%;
}
td {
  padding:0 35px 0 35px;
}

