/* BASICS CSS */

#logo2 {
    position: fixed;
    z-index: 9999;
    right: 10px;
    top: 10px;
}
#logo2 img {   
    min-width: 150px;
    max-width: 250px;
    width: 40vmin;
}
.boxes {
  width: 100%;
  height:100vh;
  min-height:100vh;  
}

h1 {
font-family: Oswald;
font-size: 30p; 
font-weight: bold;
color: #450920;
}

h2 {
font-famiy: Oswald;
font-size: 24p;  
color: #8baaad;
}

h3 {
font-family: Quattrocento; 
font-size: 18p; 
font-weight: bold; 
color: #4d4847;
}

p {
font-family: Quattrocento; 
font-size: 12p; 
color: #000f08;
}

.quote {
font-family: Lato;
font-size: 11p; 
font-weight: bold; 
display: inline;
background-color: #8baaad; 
color: #F4FFF8;
}



