.Row
{
    display: table;
    width: 100%; 
    table-layout: fixed;
    border-spacing: 5px; 
    background-color: none;
    position: fixed;
    top: 0;
}
button {
    background-color: none;
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.Column
{
    display: table-cell;  
}
#progress_bar {
			width: 500px;
			height: 30px;
			margin: 0;
			padding: 0;
			border: 1px solid black;

			/* this makes the progress bar div "stick" to the top of your window
			   even if you scroll down */
			position: fixed;
			top: 0;
		}
#progress_elapsed {
			height: 100%;
			width: 0; /* we'll set this in the javascript below */
			margin: 0;
			padding: 0;
			background: blue;
		}

.boxes {
  width: 100%;
  height:100vh;
  min-height:100vh;  
}
h1 {
  text-align: center;
  padding-top: 250px;
  margin: 0;
}
#first {
  background: blue;
}
#second {
  background: pink;
}
#third {
  background: green;
}
#fourth {
  background: purple;
}
