.Row
{
    display: table;
    width: 100%; 
    table-layout: fixed;
    border-spacing: 5px; 
    position: fixed;
    top: 0;
}
button {
    background-color: rgba(192,192,192, 0);
    color: white;
    border: none;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.change {
    animation: change 3s step-end both;
}

@keyframes change {
    to   { color: red }
}
.Column
{
    display: table-cell;  
}

.boxes {
  width: 100%;
  height:100vh;
  min-height:100vh;  
}
h1 {
  text-align: center;
  padding-top: 250px;
  margin: 0;
}
#first {
  background: blue;
}
#second {
  background: pink;
}
#third {
  background: green;
}
#fourth {
  background: purple;
}
