/* BASICS CSS */

.Row
{
    display: table;
    border: none;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 50%;
    margin-left: 25%;
    table-layout: fixed;
    border-spacing: 5px; 
    position: fixed;
    top: 0;
    float: left;
}

.Column
{
    display: table-cell;
    text-align: center;
}

.boxes {
  width: 100%;
  height:100vh;
  min-height:100vh;  
}

/* BUTTONS CSS */

button {
    background-color: transparent;
    border: none;
    color: blue;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

button: hover {
  background-color: #e7e7e7;
}

h1 {
  text-align: center;
  padding-top: 250px;
  margin: 0;
}

span {
  color: black;
}

/* BOXES STYLE CSS */

#first {
  background: blue;
}
#second {
  background: pink;
}
#third {
  background: green;
}
#fourth {
  background: purple;
}

/* PROGRESS BAR CSS */

#Video-button {
  background: grey;
}

#Data-button {
  background: grey;
}

#Threesixty-button {
  background: grey;
}

#Video2-button {
  background: grey;
}


/* navigation button */

.arrow {
  width: 0; 
	height: 0; 
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
  
  position: absolute;
}

.arrow-right {
	border-left: 15px solid #000;
  right: 0;
}

.arrow-left {
	border-right: 15px solid #000; 
  left: 0;
}

.container {
  margin: 15% auto;
  font-size: 24px;
  position: relative;
  width: 15em;
}

.header {
  text-align: center;
}
