.Row
{
    display: table;
    border: solid;
    border-radius: 10px;
    border-color: grey;
    width: 50%;
    margin-left: 25%;
    table-layout: fixed;
    border-spacing: 5px; 
    position: fixed;
    top: 0;
    float: left;
}
button {
    background-color: transparent;
    border: none;
    color: grey;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}
button:hover {
  background-color: #e7e7e7;
}
.Column
{
    display: table-cell;
    text-align: center;
}
span {
  color: black;
}
.boxes {
  width: 100%;
  height:100vh;
  min-height:100vh;  
}
h1 {
  text-align: center;
  padding-top: 250px;
  margin: 0;
}
#first {
  background: blue;
}
#second {
  background: pink;
}
#third {
  background: green;
}
#fourth {
  background: purple;
}
