/* BASICS CSS */

#logo2 {
  position: absolute;
  z-index: 9999;
  top: 5%;
  right: 2%;
  width: 180px;
}

.boxes {
  width: 100%;
  height:100vh;
  min-height:100vh;  
}

#first {
background-color: black;
}

#second {
margin-top: 30px;
padding-right: 25%;
padding-left: 1%; 
}

h1 {
font-family: Oswald;
font-size: 30p; 
font-weight: bold;
color: #450920;
text-transform: uppercase;
}

h2 {
font-family: Oswald;
font-size: 24p;  
color: #8baaad;
}

h3 {
font-family: Quattrocento; 
font-size: 18p; 
font-weight: bold; 
color: #4d4847;
}

p {
font-family: Quattrocento; 
font-size: 12p; 
color: #000f08;
line-height: 130%;
text-align: justify;
}

.quote {
font-family: Lato;
font-size: 11p; 
font-weight: bold; 
display: inline;
background-color: #8baaad; 
color: #F4FFF8;
}

.viztitle {
font-family: Oswald; 
font-weight: light; 
font-size: 32p;
color: #450920;
}

.source {
font-family: Quattrocento;
font-size: 16px;
}

a {
display: inline;
color:inherit;
text-decoration: none;
border-bottom: 1.5px solid #8baaad;
}

#footer{
     display:block;
     width: 100%;
     text-align:right;
     padding:10px;
     background-color: black;
}
     
#footertext{
     color: white;
     font-size: 30px;
     font-weight: bold;
     font-family: Oswald;
}

#footertext a {
      color: white;
      text-decoration: none;
}

@media screen and (max-width: 764px) {
      #footertext a {
        font-size: 15px; }
}

/* Audio Boxes */
.audioboxred {  
  background-color: #663333;
  width: 60%;
  padding-top: 10px;
  display: flex;
}

.audioboxwhite {  
  width: 60%;
  display: flex;
  padding-top: 10px;
}

.play {
  float: left;
  width: 20%;
  height: 20%;
  padding: 0px 5px 10px 20px;
}

.audioquotewhite {
  display: inline;
  font-family: Oswald;
  font-size: 36px;
  font-weight: light;
  color: white;
  line-height: 50px;
  padding-right: 15px;
}

.audioquotered {
  display: inline;
  font-family: Oswald;
  font-size: 36px;
  font-weight: light;
  color: #663333;
  line-height: 50px;
  padding-right: 15px;
}

/* Gallup Box */
#third {
margin-top: 30px;
padding-right: 25%;
padding-left: 1%; 
width: 50%;
border: 2px solid #000f08;
background-color: #8baaad;
height: 500px;
}
