/* BASICS CSS */

#logo2 {
    position: fixed;
    z-index: 9999;
    right: 10px;
    top: 10px;
}
#logo2 img {   
    min-width: 150px;
    max-width: 250px;
    width: 40vmin;
}
.boxes {
  width: 100%;
  height:100vh;
  min-height:100vh;  
}

/* BOXES STYLE CSS */

#first {
  background: blue;
}
#second {
  background: pink;
}
#third {
  background: green;
}
#fourth {
  background: purple;
}
